version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5001:5001"
    env_file:
      - ./backend/.env.production
    environment:
      - NODE_ENV=production
      - PORT=5001
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npx nodemon server.js

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env.production
    environment:
      - CHOKIDAR_USEPOLLING=true
      - NODE_ENV=production
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm start
