version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "5001:5001"
    env_file:
      - ./backend/.env.development
    environment:
      - NODE_ENV=development
      - PORT=5001
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npx nodemon server.js

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env.development
    environment:
      - CHOKIDAR_USEPOLLING=true
      - NODE_ENV=development
      - PORT=3000
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm start
