@import '../index.css';

.formField {
    margin-bottom: var(--spacing-small);
    color: var(--error-color);
}

.submitButton {
    background-color: var(--primary-button-color);
    color: var(--button-text-color);
    padding: var(--spacing-small) var(--spacing-medium);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--font-size-medium);
    cursor: var(--cursor-pointer);
    border-radius: var(--border-radius);
    border-color: var(--button-border-color);
}
