@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

/* Global CSS Variables (only those used in this file) */
:root {
  --primary-bg-color: #fffaee;
  --primary-font: 'RocknRoll One', sans-serif;
  --letter-spacing: 1.25px;
  --line-height: 1.5;
  --spacing-small: 5px;
}

/* Global body styling */
body {
  background-image: url("https://fattypopups-event-images.s3.eu-north-1.amazonaws.com/posters/WhatsApp+Image+2025-11-05+at+15.36.48+(5).jpeg");
  background-size: cover;        
  background-position: center; 
  background-repeat: no-repeat;   
  background-attachment: fixed;   
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  min-height: 50vh;            
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
}


html {
    background-color: var(--primary-bg-color);
    scroll-behavior: smooth;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    gap: var(--spacing-small);
}

.centered-content-global {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

@media (min-width: 600px) {
  .centered-content-global {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
}