@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

/* Global CSS Variables (only those used in this file) */
:root {
  --primary-font: 'RocknRoll One', sans-serif;
  --letter-spacing: 2px;
  --line-height: 1.5;
  --spacing-small: 5px;
}

/* Global body styling */
body {
  background-image: url("https://fattypopups-event-images.s3.eu-north-1.amazonaws.com/posters/WhatsApp+Image+2025-11-05+at+15.36.48+(5).jpeg");
  background-size: cover;        
  background-position: center; 
  background-repeat: no-repeat;   
  background-attachment: fixed;   
  font-family: var(--primary-font);           
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

@media (min-width: 1024px) {
  body {
    transform: scale(1.1);
    transform-origin: top center;
  }
}
